body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  background-color: #f4f4f4;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 768px;
  padding: 1rem;
}
.content {
  flex-grow: 1;
}

ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
li {
  padding: 1rem;
}
button {
  cursor: pointer;
}