* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 0.8rem;
  color: #333;
  letter-spacing: 0.1rem;
  font-family: "ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

/* CONTENXT */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 768px;
  text-align: center;
  margin: auto;
}
.content {
  flex-grow: 1;
}
button {
  cursor: pointer;
}
button:active {
  transform: translateY(1px);
}
fieldset {
  border-radius: 0.5rem;
  background-color: #f4f4f4;
}
/* TITLE */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: cadetblue;
}
.title-image {
  width: 100px;
}
/* RECAP */
.recap-wrapper {
  margin: 0.5rem auto;
  max-width: 300px;
}
.recap-content {
  margin: 1rem;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 50px);
  grid-template-areas:
    "kcal-less kcal kcal-more"
    "bar bar bar"
    "consumed . remaining"
    "carboidrati proteine grassi";
}
.recap-consumed {
  grid-area: consumed;
  display: grid;
}
.recap-remaining {
  grid-area: remaining;
  display: grid;
}
.recap-carboidrati {
  grid-area: carboidrati;
  display: grid;
}
.recap-proteine {
  grid-area: proteine;
  display: grid;
}
.recap-grassi {
  grid-area: grassi;
  display: grid;
}
.recap-bar {
  grid-area: bar;
  justify-self: center;
  width: 90%;
}
/* KCAL */
.kcal-content {
  display: flex;
  align-items: center;
}
.kcal-less {
  grid-area: kcal-less;
  color: brown;
}
.kcal-more {
  grid-area: kcal-more;
  color: cadetblue;
}
.kcal-less,
.kcal-more {
  border: 1px solid cadetblue;
  background-color: white;
  font-size: 2rem;
}

/* WATER */
.water-glasses {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0.5rem 0;
  padding: 0;
}
.water-glass-li {
  padding: 0.3rem 0.7rem;
}
.water-wrapper {
  margin: 0.5rem auto;
  max-width: 300px;
}
.water-content {
  margin: 1rem;
}
.water-glass-image {
  width: 2.5rem;
  cursor: pointer;
}
.water-counter-incomplete {
  color: brown;
  margin: 0.5rem;
}
.water-counter-complete {
  color: cadetblue;
  margin: 0.5rem;
}
.water-counter-complete::after {
  content: " - completed!";
}

/* FOOD */
.food-wrapper {
  max-width: 300px;
  margin: auto;
}
.food-content {
  margin: 1rem;
}
.food-search {
  border: none;
  border-bottom: 1px solid cadetblue;
  color: cadetblue;
  padding: 0.5rem;
  width: 100%;
  height: 50px;
}
::placeholder {
  color: cadetblue;
}
.food-buttons {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.3rem;
}
.food-breakfast,
.food-lunch,
.food-dinner,
.food-snacks {
  border: 1px solid cadetblue;
  background-color: white;
  color: cadetblue;
  height: 50px;
}

/* DETAIL */
.detail-wrapper {
  max-width: 300px;
  margin: 0.5rem auto;
}
.detail-content {
  margin: 1rem;
  display: grid;
  row-gap: 1rem;
  text-align: left;
}

/* LAODING & ERROR MESSAGE */
.error-message,
.loading-message {
  color: brown;
  font-style: italic;
  margin: 1rem;
}
