body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  background-color: #f4f4f4;
}
/* CONTENXT */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 768px;
  text-align: center;
  margin: auto;
}
.content {
  flex-grow: 1;
}

/* FOOD */
fieldset {
  border-radius: 10px;
  width: 300px;
}

.food-wrapper {
  display: flex;
  justify-content: center;
}
.food-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  width: 300px;
  margin: 1rem;
}
.food-breakfast,
.food-lunch,
.food-dinner,
.food-snack {
  width: 100px;
  margin: 0.5rem;
}
.food-button {
  cursor: pointer;
}

/* WATER */
ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;
}
li {
  padding: 1rem;
}
.water-wrapper {
  margin: auto;
}
.water-glass-image {
  width: 2rem;
  cursor: pointer;
}
.water-counter-incomplete {
  font-size: 2rem;
  color: brown;
}
.water-counter-complete {
  font-size: 2rem;
  color: cadetblue;
}

/* BMI */
.bmi-weight,
.bmi-height {
  width: 30px;
  margin: 1rem;
  border: none;
  border-bottom: 1px solid #333;
}
